body {
	padding-top: 15%;
	padding-bottom: 40px;
	background-image: url(../img/back3.png);
	background-size: 100% 100%;
	background-position: left center;
	background-attachment:fixed;
	font-family: "Open Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:300;
}

.form-signin {
	max-width: 300px;
	padding: 40px;
	padding-top :25px;
	margin: 0 auto 20px;
	background-color: rgba(240,240,240,1.0);
	border: 2px solid #e5e5e5;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-box-shadow: 0 3px 15px rgba(0,0,0,.3);
	-moz-box-shadow: 0 3px 15px rgba(0,0,0,.3);
	box-shadow: 0 3px 15px rgba(0,0,0,.3);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 20px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

